<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
	
	<%@group.concerts.each do |concert|%>
	<%=link_to concert.venue, group_concert_path(@group)%>
	<%=concert.date%>
	<%end%>
	
</p>



<%= link_to 'Edit', edit_group_path(@group) %>

<%= link_to 'Back', groups_path %>
