<div class="container">
  <div class="row">
    <div class="four columns reg">
<p id="notice"><%= notice %></p>

<h1 class="mid">Concerts</h1>

<table>
  <thead>
    <tr>
      <th>Venue</th>
      <th>Goup</th>
      <th>Date</th>
      <th>Adress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| 
      next unless concert.group %>
      <tr>
        <td><h3><%= link_to concert.venue,group_concert_path(concert.group_id,concert)%></h3></td>
        <td><%= concert.group.name %></td>
        <td><%= concert.date %></td>
        <td><%= concert.address %></td>
       
    <% end %>
  </tbody>
</table>

<br>

    </div>
  </div>
</div>



