<div class="container">
  <div class="row">
    <div class="four columns reg">

<p id="notice"><%= notice %></p>


<h1 class="mid">
  <%= @concert.group.name %>
</h1>
<h3>
  <%= @concert.venue %>
</h3>



<hr>
<!-- <h3>Performers</h3 -->
<ul>
<%@concert.performers.each do |p|
  next unless p.user%>
   <%if p.status == "active"%>
  <h5> <%= link_to p.user.full_name, performer_path(p) %> </h5>
   <%end%>
  <%end%>
</ul>

<hr>

<p>
  <strong>Date:</strong><%= @concert.date %>
  
  <strong>Adress:</strong><%= @concert.address %>
</p>
<form action="/performers" method="post">
   <input type="hidden" name="concert_id" value="<%=@concert.id%>">
   <button type="submit">Join</button>
 </form>

<%= link_to 'Edit', edit_group_concert_path(@concert.group, @concert) %> 


  </div>
  </div>
</div>

