<div class="container">
  <div class="row">
    <div class="four columns main">

<p id="notice"><%= notice %></p>

<h1 class="mid">Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Concert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @performers.each do |performer|
    next unless performer.user %>
      <tr>
        <td><%= performer.user.full_name %></td>
         <td><%= Concert.find(performer.concert_id).venue %>
             <%= Concert.find(performer.concert_id).date %></td>
        <td><%= link_to 'View', performer %></td>
        <td><%= link_to 'Decline', performer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    </div>
  </div>
</div>
