

<div class="container">
  <div class="row">
    <div class="six columns main">
      <%= content_tag :p, flash[:notice], class: :notice if flash[:notice] %>


<h2 class="mid">
  <%= User.find(@performer.user_id).full_name %>
</h2>

<p>
  <strong>Email:</strong>
  <%= User.find(@performer.user_id).email %>
</p>

<p>
  <strong>Music Link:</strong>
<%= link_to @performer.user.link, url_with_protocol(@performer.user.link) %>
</p>


  



<p>
  <strong>Concert:</strong>
  <%= Concert.find(@performer.concert_id).venue %>
   <%= Concert.find(@performer.concert_id).date %>
</p>


<%if current_user.id == @performer.concert.user_id%>


<%= form_tag performer_path(@performer), method: 'patch' do 
    button_tag 'Add to Concert'
  end %>
<%end%>




    </div>
  </div>
</div>
